<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <div class="widget-content user">
            <h3>Parent or Guardian Information</h3>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>First name</label>
                <input ng-model="user.firstName">
              </md-input-container>
              <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="theMax">
              </md-input-container>
            </div>
            ​
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Date of Birth</label>
                <input ng-model="user.dob">
              </md-input-container>
              <md-input-container flex>
                <label>Race</label>
                <input ng-model="user.race">
              </md-input-container>
              <md-input-container flex>
                <label>Gender</label>
                <input ng-model="user.gender">
              </md-input-container>
            </div>
            <md-input-container flex>
              <label>Email</label>
              <input ng-model="user.email">
            </md-input-container>
            ​
            <md-input-container flex>
              <label>Last 4 Digits of Social Security Number</label>
              <input ng-model="user.email">
            </md-input-container>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Home Phone</label>
                <input ng-model="user.homePhone">
              </md-input-container>
              <md-input-container flex>
                <label>Work Phone</label>
                <input ng-model="user.workPhone">
              </md-input-container>
              <md-input-container flex>
                <label>Cell Phone</label>
                <input ng-model="user.cellPhone">
              </md-input-container>
              ​ </div>
            ​
            <md-input-container flex>
              <label>Home Address</label>
              <input ng-model="user.homeAddress">
            </md-input-container>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>City</label>
                <input ng-model="user.homeCity">
              </md-input-container>
              <md-input-container flex>
                <label>State</label>
                <md-select ng-model="user.homeState">
                  <md-option ng-repeat="state in user.homeState" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="user.homePostalCode" placeholder="12345">
              </md-input-container>
            </div>
            <md-input-container flex>
              <label>Work Address</label>
              <input ng-model="user.workAddress">
            </md-input-container>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>City</label>
                <input ng-model="user.workCity">
              </md-input-container>
              <md-input-container flex>
                <label>State</label>
                <md-select ng-model="user.workState">
                  <md-option ng-repeat="state in user.workState" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="user.workPostalCode" placeholder="12345">
              </md-input-container>
            </div>
            <md-input-container flex>
              <label>Preferred Method of Notification </label>
              <input ng-model="user.notification">
            </md-input-container>
            <md-input-container flex>
              <label>If preferred method is phone or text, which number?</label>
              <md-select ng-model="user.preferredNumber">
                <md-option ng-repeat="mumber in user.preferredNumber" value="{{number}}">
                  {{number}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>Date</label>
              <input ng-model="user.dateOfForm">
            </md-input-container>
            <h3>Child 1 Information</h3>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>First name</label>
                <input ng-model="child.firstName">
              </md-input-container>
              <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="child.lastName">
              </md-input-container>
            </div>
            ​
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Date of Birth</label>
                <input ng-model="child.dob">
              </md-input-container>
              <md-input-container flex>
                <label>Gender</label>
                <input ng-model="child.gender">
              </md-input-container>
            </div>
            <md-input-container flex>
              <label>School Name</label>
              <input ng-model="child.schoolName">
            </md-input-container>
            <md-input-container flex>
              <label>School Address</label>
              <input ng-model="child.schoolAddress">
            </md-input-container>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>City</label>
                <input ng-model="child.schoolCity">
              </md-input-container>
              <md-input-container flex>
                <label>State</label>
                <md-select ng-model="child.schoolState">
                  <md-option ng-repeat="state in child.schoolState" value="{{state.abbrev}}">
                    {{state.abbrev}}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container flex>
                <label>Postal Code</label>
                <input ng-model="child.schoolPostalCode" placeholder="12345">
                <md-input-container flex>
                  <label>School Phone</label>
                  <input ng-model="child.schoolePhone">
                </md-input-container>
              </md-input-container>
            </div>
            <h3>Child 1 Gift Information</h3>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Does the child want a bicycle?</label>
                <input ng-model="gift.bicycle">
              </md-input-container>
              <md-input-container flex>
                <label>What size bicycle?</label>
                <input ng-model="gift.bicycleSize">
              </md-input-container>
            </div>
            <md-input-container flex>
              <label>Does the child want clothing? </label>
              <input ng-model="gift.clothing">
            </md-input-container>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Shirt Size</label>
                <input ng-model="gift.shirtSize">
              </md-input-container>
              <md-input-container flex>
                <label>Pant Size</label>
                <input ng-model="gift.PantSize">
              </md-input-container>
              <md-input-container flex>
                <label>Coat Size</label>
                <input ng-model="gift.coatSize">
              </md-input-container>
            </div>
            <div layout layout-sm="column">
              <md-input-container flex>
                <label>Shoe Size</label>
                <input ng-model="gift.shoeSize">
              </md-input-container>
              <md-input-container flex>
                <label>Favorite Color</label>
                <input ng-model="gift.favoriteColor">
              </md-input-container>
            </div>
            <md-input-container flex>
              <label>Additional Gift Ideas</label>
              <input ng-model="gift.additionalIdeas">
            </md-input-container>
            <md-input-container flex>
              <label>Interests (sports, science, fashion, dinosaurs, etc.): </label>
              <input ng-model="gift.interests">
            </md-input-container>
            </form>
            </md-content>
            ​
          </div>
        </div>
        <div class="widget-foot">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    </div>
  </section>
</section>
