<section class="mainbar">
  <section class="matter">
    <div class="container">
      <div class="row">
        <div class="widget wviolet">
          <div ht-widget-header title="{{vm.title}}"></div>
          <form name="userRegForm" ng-submit="vm.createAccount(user)" novalidate>
            <div class="widget-content user">
              <h3>Set up new user</h3>
              <md-content class="layout-padding md-default-theme">
                <div layout layout-sm="column">
                  <md-input-container flex>
                    <label>First name</label>
                    <input ng-model="user.firstName" required>
                  </md-input-container>
                  <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="theMax">
                  </md-input-container>
                </div>
                <div layout layout-sm="column"> ​
                  <md-input-container flex>
                    <label>Title/Rank</label>
                    <input ng-model="user.title">
                  </md-input-container>
                  <md-input-container flex>
                    <label>Phone</label>
                    <input ng-model="user.phone">
                  </md-input-container>
                  ​</div>
                <div layout layout-sm="column">
                  <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="user.email">
                  </md-input-container>
                  ​
                  <md-input-container flex>
                    <label>User Type</label>
                    <md-select ng-model="user.userType" ng-change="vm.userTypeChanged(user.userType)">
                      <md-option ng-repeat="userType in vm.userTypes" value="{{userType}}">
                        {{userType}}
                      </md-option>
                    </md-select>
                  </md-input-container>
                </div>
                <div ng-if="user.userType">
                  <h3>Address Information</h3>
                  <md-input-container flex>
                    <label>{{vm.entityName}}</label>
                    <input ng-model="user.address.name">
                  </md-input-container>
                  <md-input-container flex>
                    <label>{{vm.entity}} Phone</label>
                    <input ng-model="user.address.phone">
                  </md-input-container>
                  <md-input-container flex>
                    <label>{{vm.entity}} Address</label>
                    <input ng-model="user.address.street">
                  </md-input-container>
                  <div layout layout-sm="column">
                    <md-input-container flex>
                      <label>City</label>
                      <input ng-model="user.address.city">
                    </md-input-container>
                    <md-input-container flex>
                      <label>State</label>
                      <md-select ng-model="user.address.state">
                        <md-option ng-repeat="state in vm.states" value="{{state.abbreviation}}">
                          {{state.abbreviation}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container flex>
                      <label>Postal Code</label>
                      <input ng-model="division.postalCode" placeholder="12345">
                    </md-input-container>
                  </div>
                </div>
              </md-content>
            </div>
            <!-- end of widget user -->
            <div class="buttonWrapper">
              <md-button class="md-raised md-primary" ng-disabled="userRegForm.$invalid" type="submit">Submit</md-button>
              <md-button class="md-raised md-warn">Clear</md-button>
            </div>
          </form>
        </div>
        <div class="widget-foot">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    </div>
  </section>
</section>
